.git
.github
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
public/storage
Dockerfile
docker-compose.yml
.env
.idea
.vscode
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
